# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
node_modules/
.tmp/

*.jpg

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools
_notes
dwsync.xml


characterdesign.html
leftnav.html

expandable-arrow.svg
blasontechminimal-logo.svg
noun_Blog_3130758.svg
cafe-outline.svg
caret-forward-circle-outline.svg
checkmark-done-circle-outline.svg
git-network-outline.svg
iconfinder_256_explore_travel_mountains_camping_balloons_3957665.svg
iconfinder_Camping_gear_2_753960.svg
iconfinder_indoor-garden-future-farming-greenhouse_4071382.svg

iconfinder_flashlight_3512616.svg
noun_Mountains_379769.svg
yakuzawoman.svg
slicesofzen-2.png
noun_cart_2374733.svg
laptop-outline.svg
logo-bitcoin.svg
iconfinder_Pillates_2_753930.svg
iconfinder_Library_1_753890.svg
SmoothVerticalScroll.js


