$mainBlack: hsla(0, 0%, 0%, 0.932);
$mainGrey: #5a5a58;
$mainBlue: #2f5572;
$mainGreen: rgb(51, 87, 42);
$mainWhite: hsla(0, 11%, 95%, 0.932);
$pearlWhite: hsla(202, 100%, 94%, 0.932);
$mainOrange: hsla(41, 96%, 54%, 0.932);
$mainRed: hsla(9, 96%, 54%, 0.932);
$mainPurple: hsla(286, 96%, 54%, 0.932);
$smallerFont: 60%;
$lightBlack: hsla(0, 14%, 10%, 0.39);
$lightGrey: hsla(0, 0%, 37%, 0.397);
$lightBlue: #61ade7;
$lightGreen: rgb(149, 223, 130);
$lightWhite: hsla(0, 12%, 95%, 0.514);
$lightOrange: hsla(41, 89%, 73%, 0.932);
$lightRed: hsla(9, 100%, 74%, 0.932);
$lightPurple: hsla(286, 97%, 72%, 0.932);
$nightClub: linear-gradient(315deg, #2d3436 0%, #000000 74%);
$nightClub2: webkit-linear-gradient(315deg, #2d3436 0%, #000000 74%);
$tobaccoAd: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
$tobaccoAd2: webkit-linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
$sweetAiran: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
$sweetAiran2: webkit-linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
$televisionStar: linear-gradient(147deg, #4d4855 0%, #000000 74%);
$televisionStar2: webkit-linear-gradient(147deg, #4d4855 0%, #000000 74%);
$darkBraun2: webkit-linear-gradient(315deg, #000000 0%, #422419 74%);
$darkBraun: linear-gradient(315deg, #000000 0%, #422419 74%);
$politicalJoke: linear-gradient(315deg, #230903 0%, #d3b88c 74%);
$politicalJoke2: webkit-linear-gradient(315deg, #230903 0%, #d3b88c 74%);
$boxShadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
$linedThickBorder: solid 7px #41403e;
$dottedThickBorder: dotted 5px #41403e;
$dashedThickBorder: dashed 5px #41403e;
$linedThinBorder: solid 2px #41403e;
$dottedThinBorder: dotted 2px #41403e;
$dashedThinBorder: dashed 2px #41403e;
$base: 1rem;
$space: $base/4;