$mainBlack: rgba(0, 0, 0, 0.747);
$preDark: linear-gradient(147deg, #000000 0%, #434343 74%);
$mainGrey: #5a5a58;
$mainBlue: #2f5572;
$mainGreen: rgba(53, 100, 41, 0.8);
$mainWhite: rgba(255, 255, 255, 0.932);
$pearlWhite: rgba(232, 255, 248, 0.932);
$mainOrange: rgba(245, 197, 41, 0.932);
$mainRed: rgba(245, 60, 60, 0.932);
$mainPurple: rgba(131, 43, 247, 0.932);
$smallerFont: 60%;
$lightBlack: rgba(82, 85, 84, 0.39);
$lightGrey: rgba(79, 79, 80, 0.397);
$lightBlue: #61ade7;
$lightGreen: rgb(149, 223, 130, 0.8);
$lightWhite: rgba(250, 255, 249, 0.438);
$lightOrange: rgba(245, 230, 96, 0.637);
$lightRed: rgba(247, 151, 113, 0.8);
$lightPurple: rgba(207, 152, 243, 0.61);
$nightClub: linear-gradient(315deg, #2d3436 0%, #000000 74%);
$nightClub2: webkit-linear-gradient(315deg, #2d3436 0%, #000000 74%);
$tobaccoAd: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
$tobaccoAd2: webkit-linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
$televisionStar: linear-gradient(147deg, #4d4855 0%, #000000 74%);
$televisionStar2: webkit-linear-gradient(147deg, #4d4855 0%, #000000 74%);
$darkBraun2: webkit-linear-gradient(315deg, #000000 0%, #422419 74%);
$darkBraun: linear-gradient(315deg, #000000 0%, #422419 74%);
$politicalJoke: linear-gradient(315deg, #230903 0%, #d3b88c 74%);
$politicalJoke2: webkit-linear-gradient(315deg, #230903 0%, #d3b88c 74%);
$boxShadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.527);
$linedThickBorder: solid 7px #41403e;
$dottedThickBorder: dotted 5px #41403e;
$dashedThickBorder: dashed 5px #41403e;
$linedThinBorder: solid 0.2px #dbd9d957;
$dottedThinBorder: dotted 2px #41403e;
$dashedThinBorder: dashed 2px #41403e;
$base: 1rem;
$space: $base/4;