blockquote {
    margin: 1em 0 1em 0;
}

.ludwig {
    position: relative;
    padding-left: 1em;
    border-left: 0.2em solid lighten($black, 40%);
    font-family: "Fira Sans", sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 100;
    &:before,
    &:after {
        content: "\201C";
        font-family: "Sanchez";
        color: lighten($black, 40%);
    }
    &:after {
        content: "\201D";
    }
}