.btn {
    background-color: transparent;
    box-shadow: $boxShadow;
    margin-top: 20px;
    top: 5%;
    height: auto;
    width: 150px;
    color: rgba(250, 255, 249, 0.438);
    text-decoration: none;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    display: inline-block;
    &--white {
        background-color: $lightWhite;
    }
    &--transparent {
        background-color: transparent;
    }
    &--large {
        font-size: 80%;
        padding: 0.3rem 1rem;
        @add-mixin atSmall {
            font-size: 1.05rem;
        }
    }
}