.large-hero {
    position: relative;
    height: 50vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: $earlyRetirement;
    border-bottom: 1px solid $lightWhite;
    @add-mixin atMedium {
        height: 70vh;
    }
    @add-mixin atLarge {
        height: 75vh;
    }
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transform: translate(0, 0);
        transition: transform 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);
        transform: translate(0, 0);
        max-width: 100vw;
        @add-mixin atSmall {}
        @add-mixin atMedium {
            -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
            height: 100%;
        }
        @add-mixin atLarge {
            -webkit-transform: translate(200%, 0) scale(1.2);
            transform: translate(200%, 0) scale(1.2);
            height: 100%;
        }
    }
    @add-mixin atMedium {}
    @add-mixin atLarge {}
    &__text-content {
        position: absolute;
        top: 60%;
        left: 0%;
        text-align: center;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        @add-mixin atMedium {
            left: 17%;
        }
        @add-mixin atLarge {
            left: 25%;
            top: 45%;
        }
    }
    &__logo {
        vertical-align: middle;
        width: 20px;
        height: auto;
        &--box {
            width: 15px;
            background-color: $mainGrey;
            border-radius: 15px;
        }
    }
    &__title {
        margin: 0;
        background-color: $nightClub2;
        font-family: "Londrina Solid", cursive;
        color: $lightWhite;
        font-weight: 100;
        font-size: 1.5rem;
        @add-mixin atSmall {
            font-size: 1rem;
        }
        @add-mixin atMedium {
            font-size: 1.8rem;
            margin-left: 1rem;
        }
        @add-mixin atLarge {
            font-size: 2rem;
            margin-left: 1rem;
        }
    }
    &__subtitle {
        margin: 10px;
        margin-left: 1rem;
        color: $lightWhite;
        font-family: "Londrina Solid", cursive;
        font-weight: 300;
        font-size: 1rem;
    }
    &__description {
        color: $lightWhite;
        font-size: 1.1rem;
        @add-mixin atSmall {
            font-size: 1.175rem;
        }
    }
    &__tagline {
        position: relative;
        left: -15px;
        font-weight: 200;
        color: $mainWhite;
        background-color: $lightWhite;
        opacity: 0.8;
        width: 70%;
        font-size: 0.8rem;
        margin: 0 5rem 0 5rem;
        @add-mixin atLarge {
            left: 50px;
        }
    }
}

.mind {
    color: $lightBlue;
}

.body {
    color: $Lime;
}

.spirit {
    color: $lightPurple;
}