.page-section {
    padding: 2rem 0;
    padding-right: 1rem;
    justify-content: center;
    @add-mixin atMedium {
        padding: 4.5rem 0;
    }
    &--gradient-bg {
        background-color: #2d3436;
        background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
        color: $mainWhite;
    }
    &--featured-stories {
        background: $darkBraun;
        background: $darkBraun2;
        background-blend-mode: lighten;
    }
}