.section-title {
    font-size: 3.75rem;
    font-weight: 100;
    text-align: center;
    strong {
        font-weight: 200;
    }
    &__icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60px;
        height: auto;
        fill: $lightGrey;
        @add-mixin atSmall {
            position: relative;
            top: 8px;
            display: inline-block;
            margin-left: auto;
            margin-right: 0.5rem;
            width: 60px;
        }
    }
    &--white {
        color: $mainWhite;
    }
    &-margin-left {
        margin-left: 1rem;
    }
    &-smaller {
        font-size: 180%;
    }
    &-gut-bottom {
        margin-bottom: 30px;
    }
    &-gut-bottom-larger {
        margin-bottom: 80px;
    }
}